.shop-columns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}


@media (min-width: 1024px) {
    .shop-columns {
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }
}
